.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color:rgb(193, 193, 20);
  }
  
  .logo img {
    height: 75px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
    }
  }
  